@font-face {
    font-family: 'BentonSans';
    src: url('BentonSans-Light.eot');
    src: url('BentonSans-Light.eot?#iefix') format('embedded-opentype'),
        url('BentonSans-Light.woff2') format('woff2'),
        url('BentonSans-Light.woff') format('woff'),
        url('BentonSans-Light.ttf') format('truetype'),
        url('BentonSans-Light.svg#BentonSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans Medium';
    src: url('BentonSans-Medium.eot');
    src: url('BentonSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('BentonSans-Medium.woff2') format('woff2'),
        url('BentonSans-Medium.woff') format('woff'),
        url('BentonSans-Medium.ttf') format('truetype'),
        url('BentonSans-Medium.svg#BentonSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans Bold';
    src: url('BentonSans-Bold.eot');
    src: url('BentonSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('BentonSans-Bold.woff2') format('woff2'),
        url('BentonSans-Bold.woff') format('woff'),
        url('BentonSans-Bold.ttf') format('truetype'),
        url('BentonSans-Bold.svg#BentonSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans Regular';
    src: url('BentonSans-Regular.eot');
    src: url('BentonSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('BentonSans-Regular.woff2') format('woff2'),
        url('BentonSans-Regular.woff') format('woff'),
        url('BentonSans-Regular.ttf') format('truetype'),
        url('BentonSans-Regular.svg#BentonSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans Thin';
    src: url('BentonSans-Thin.eot');
    src: url('BentonSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('BentonSans-Thin.woff2') format('woff2'),
        url('BentonSans-Thin.woff') format('woff'),
        url('BentonSans-Thin.ttf') format('truetype'),
        url('BentonSans-Thin.svg#BentonSans-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

