body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.client-item-modify .ant-menu-vertical.ant-menu-sub {
  min-width: 260px;
}

.modal-customize .ant-modal-content {
  border-radius: 10px;
  padding: 0 45px;
}

.modal-customize .ant-modal-title {
  font-size: 32px;
  color: #515c83;
  text-align: center;
}

.modal-customize .ant-modal-close {
  display: none;
}

.modal-customize .ant-modal-header {
  padding-top: 55px;
  border-bottom: none;
}

.modal-customize .ant-modal-footer {
  border-top: none;
  padding: 25px 20px 40px;
}

.modal-customize .ant-modal-footer .ant-btn {
  border: none;
  margin-left: 20px;
}

.table-enter-leave .ant-table-tbody > tr,
.table-enter-leave .ant-table-thead > tr {
  transition: height 200ms ease;
}

.ant-table .ant-table-tbody > tr,
.ant-table .ant-table-thead > tr {
  transition: none;
}

.editable-cell {
  position: relative;
}

body .select-inline.ant-select-dropdown.ant-select-dropdown--single.ant-select-dropdown-placement-bottomLeft {
  min-width: 145px;
  width: auto !important;
}

.custom-search-menu li.ant-select-dropdown-menu-item {
  display: flex;
  justify-content: space-between;
}

.custom-search-menu .ant-select-dropdown-menu-item .text {
  /*flex: 1;*/
}

.custom-search-menu .ant-select-selection-selected-value .code {
  display: none;
}

.custom-search-menu.ant-select-dropdown--empty li.ant-select-dropdown-menu-item {
  justify-content: center;
}

.no-year-selected .ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year {
  color: rgba(0, 0, 0, 0.65);
  background: transparent;
}

.no-year-selected .ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year:hover {
  color: #40a9ff;
  background: #e6faff;
  cursor: pointer;
}

.ant-dropdown-menu-submenu-active .ant-dropdown-menu-submenu-title,
.ant-dropdown-menu-item-active .ant-dropdown-menu-item {
  background: #edeef2 !important;
  font-weight: 500;
}

.ant-dropdown-menu .ant-dropdown-menu-submenu-title:hover,
.ant-dropdown-menu .ant-dropdown-menu-item:hover {
  background: #e9eefe !important;
  font-weight: 500;
}

.more-dropdown .ant-dropdown-menu-item-active .ant-dropdown-menu-submenu-title,
.more-dropdown .ant-dropdown-menu-submenu-active .ant-dropdown-menu-item {
  font-weight: normal;
}

.more-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title:hover,
.more-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  font-weight: normal;
}
.more-dropdown .delete-action {
  padding: 0;
}
.more-dropdown .delete-action > span {
  display: block;
  padding: 5px 12px;
}
.more-dropdown .delete-action i {
  min-width: 12px;
  margin-right: 8px;
}

.new-proposed-product .ant-select-tree-checkbox-inner {
  border-color: #000;
}
.new-proposed-product .ant-select-tree-checkbox:hover .ant-select-tree-checkbox-inner {
  border-color: #000;
}
.new-proposed-product .ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner {
  border-color: #000;
}
.new-proposed-product .ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner::after {
  background-color: #000;
}
.new-proposed-product .ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner {
  background-color: #000;
  border-color: #000;
}
