body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.client-item-modify .ant-menu-vertical.ant-menu-sub{
  min-width: 260px;
}
.modal-customize .ant-modal-content{
  border-radius: 10px;
  padding: 0px 45px;
}
.modal-customize .ant-modal-title{
  font-size: 32px;
  color: #515c83;
  text-align: center;
}
.modal-customize  .ant-modal-close{
  display: none;
}
.modal-customize .ant-modal-header{
  padding-top: 55px;
  border-bottom: none;
}
.modal-customize  .ant-modal-footer{
  border-top: none;
  padding: 25px 20px 40px;
}
.modal-customize  .ant-modal-footer .ant-btn{
  border: none;
  margin-left: 20px;
}
